---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import bollyBlues from "@/Images/bollyblues_redesign.png";
import diveThumbnail from "@/Images/diveThumbnail.png";
import starmazeThumbnail from "@/Images/starmazeThumbnail.png";
import errorThumbnail from "@/Images/errorThumbnail.png";
---

<Layout title="Hayat Tamboli">
  <main class="bg-slate-100 flex justify-center items-center">
    <div
      class="md:w-2/4 px-4 rounded-3xl border-dashed flex flex-col space-y-4 justify-center my-40"
    >
      <div class="bg-slate-400/10 p-8 rounded-3xl border-2 border-slate-200/20">
        <h1 class="text-2xl font-medium text-black/80">
          Hi, I'm <span class="text-slate-900">Hayat</span>
        </h1>
        <h1 class="text-xl font-medium text-black/80">
          I find joy in <span
            class="hover:decoration-black hover:decoration-wavy hover:underline transition-all duration-500"
            >designing</span
          > and <span
            class="hover:decoration-black hover:decoration-wavy hover:underline transition-all duration-500"
            >building</span
          > beautiful & functional software
        </h1>
      </div>
      <hr class="h-[2px] bg-slate-200 border-0 dark:bg-slate-700" />
      <h1 class="text-2xl font-bold text-black/80">Selected Projects</h1>
      <div
        class="bg-slate-400/10 rounded-3xl border-2 overflow-clip border-slate-200/20 hover:scale-[0.98] transition-all duration-250"
      >
        <div>
          <div>
            <div
              onclick={"document.getElementById('starmazeVideo').classList.remove('hidden');document.getElementById('starmazeThumbnail').classList.add('hidden');document.getElementById('starmazeAward').classList.add('hidden')"}
              class="cursor-pointer relative"
            >
              <Image
                src={starmazeThumbnail}
                alt={""}
                class="aspect-video object-cover object-top"
                id="starmazeThumbnail"
              />
              <iframe
                class="aspect-video hidden"
                id="starmazeVideo"
                width="100%"
                src="https://www.youtube.com/embed/qIpxdI3iyhA?si=DGuM6hiu5F61C9ul&rel=0"
                title="Dive: A generative art authoring tool in VR"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
              <div
                class="text-sm font-bold p-2 bg-black/50 backdrop-blur-sm text-white mb-2 w-fit rounded-md absolute bottom-2 mx-8"
                id="starmazeAward"
              >
                🏆 Best Artwork Installation Award - IndiaHCI 2024
              </div>
            </div>
            <div
              class="py-4 px-8 bottom-0 left-0 bg-slate-200 w-full font-semibold text-xl"
            >
              <p class="font-bold text-slate-900/90">STARMAZE:</p>
              <p class="text-base capitalize">A Cross-platform VR Game</p>
              <p class="text-sm opacity-50">
                Collaborators: <a
                  href="https://www.linkedin.com/in/anumeha-patoria-b77ba1160/"
                  >Anumeha</a
                >, <a href="https://tanmaykuwalekar.com/">Tanmay</a>, <a
                  href="https://yashwantrawat.com">Yashwant</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-slate-400/10 rounded-3xl border-2 overflow-clip border-slate-200/20 hover:scale-[0.98] transition-all duration-250"
      >
        <div>
          <div>
            <div
              onclick={"document.getElementById('errorVideo').classList.remove('hidden');document.getElementById('errorThumbnail').classList.add('hidden');document.getElementById('errorAward').classList.add('hidden')"}
              class="cursor-pointer relative"
            >
              <Image
                src={errorThumbnail}
                alt={""}
                class="aspect-video object-cover object-top"
                id="errorThumbnail"
              />
              <iframe
                class="aspect-video hidden"
                id="errorVideo"
                width="100%"
                src="https://www.youtube.com/embed/EQORKwCv02Q?si=cyd-rYwPuNIyvvNZ&rel=0"
                title="error 409: The Portable Phygital Game Based on Binary to Decimal Number Conversion"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
              <div
                class="text-sm font-bold p-2 bg-black/50 backdrop-blur-sm text-white mb-2 w-fit rounded-md absolute bottom-2 mx-8"
                id="errorAward"
              >
                🏆 Most Polished Gameplay Award - CHI PLAY 2024
              </div>
            </div>
            <div
              class="py-4 px-8 bottom-0 left-0 bg-slate-200 w-full font-semibold text-xl"
            >
              <p class="font-bold text-slate-900/90">Error 409:</p>
              <p class="text-base capitalize">
                The Portable Phygital Game Based on Binary to Decimal Number
                Conversion
              </p>
              <p class="text-sm opacity-50">
                Collaborators: <a href="">Deekshaa</a>,
                <a href="">Vijayanand</a>,
                <a href="https://www.behance.net/yashkaranjavkar">Yash</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-slate-400/10 rounded-3xl border-2 overflow-clip border-slate-200/20 hover:scale-[0.98] transition-all duration-250"
      >
        <a href="https://data-vis-ten.vercel.app/"
          ><div>
            <Image
              src={bollyBlues}
              alt=""
              class="aspect-video object-cover object-top"
            />
            <div
              class="py-4 px-8 bottom-0 left-0 bg-slate-200 w-full font-semibold text-xl"
            >
              <p class="font-bold text-slate-900/90">
                Redesign of Bolly Blues:
              </p>
              <p class="text-base">Bollywood Data Visualization</p>
            </div>
          </div></a
        >
      </div>

      <div
        class="bg-slate-400/10 rounded-3xl border-2 overflow-clip border-slate-200/20 hover:scale-[0.98] transition-all duration-250"
      >
        <div>
          <div>
            <div
              onclick={"document.getElementById('diveVideo').classList.remove('hidden');document.getElementById('diveThumbnail').classList.add('hidden')"}
              class="cursor-pointer"
            >
              <Image
                src={diveThumbnail}
                alt={""}
                class="aspect-video object-cover object-top"
                id="diveThumbnail"
              />
              <iframe
                class="aspect-video hidden"
                id="diveVideo"
                width="100%"
                src="https://www.youtube.com/embed/WA6rIXslxFE?si=17e_ezm08r0FaNaJ&rel=0"
                title="Dive: A generative art authoring tool in VR"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div
              class="py-4 px-8 bottom-0 left-0 bg-slate-200 w-full font-semibold text-xl"
            >
              <p class="font-bold text-slate-900/90">Dive:</p>
              <p class="text-base capitalize">
                A generative art authoring tool in VR
              </p>
              <p class="text-sm opacity-50">
                Collaborators: <a
                  href="https://www.linkedin.com/in/anumeha-patoria-b77ba1160/"
                  >Anumeha</a
                >, <a href="https://tanmaykuwalekar.com/">Tanmay</a>, <a
                  href="https://yashwantrawat.com">Yashwant</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full border-slate-200 border-4 rounded-3xl border-dashed flex flex-col space-y-4 justify-center items-center"
      >
        <h1 class="text-2xl font-bold text-slate-400 my-24">
          More projects will be added soon
        </h1>
      </div>
    </div>
  </main>
  <!-- <div id="cursor" class="cursor"></div> -->
  <!-- <script is:inline>
    // Find all buttons with the `alert` class on the page.
    var cursor = document.getElementById("cursor");
    const image = document.querySelector("img");
    document.addEventListener("mousemove", moveCursor);
    function moveCursor(e) {
      let x = e.clientX;
      let y = e.clientY;
      cursor.style.left = `${x}px`;
      cursor.style.top = `${y}px`;
    }
    image.addEventListener("mousemove", function () {
      cursor.classList.add("hover-cursor");
    });
    image.addEventListener("mouseleave", function () {
      cursor.classList.remove("hover-cursor");
    });
  </script>
</Layout> -->

  <!-- <style lang="scss">
  .cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    transition:
      width 0.3s,
      height 0.3s;
    pointer-events: none;
  }
  .hover-cursor {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.276);
    transition: width 0.5s height 0.5s;
  }
</style> -->
</Layout>
